.DS_Store
*.log
*.rdb

# IDE
.project
.pydevproject
.idea

#coverage
.coveralls-repo-token
.coverage
htmlcov
example/settings.py

#python
.python-version
*.egg-info
*.pyc
__pycache__
*.egg-info
.eggs
build
_build
dist
release-notes.md
